<h1>Convert <%=@orignal_currency%></h1>

<%#= params %>

<a href="/">Go Back</a>

<ul>

<% @symbols.each do |a_symbol| %> <!--I used the .keys method on this line-->
<li><a href="/<%=@orignal_currency%>/<%=a_symbol%>">Convert 1 <%=@orignal_currency%> to <%=a_symbol%></a>
</li>
<% end %>
</ul>
